body {
    background: #f6f6f6;
}

header {
    display: block;
    color: #086788;
    background-color: white;
    width: 100%;
    height: 2rem;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
    padding: 1rem;

}

.hamburger {
    vertical-align: text-bottom;
    width: 2rem;
    display: inline;
    padding: 0 0 0 4rem;

}

h1 {
    display: inline;
    font-size: 2rem;
    text-align: left;
    font-family: helvetica;
}

h2,
p {
    font-size: 1rem;
    font-family: helvetica;
    color: #086788;
}

h2:first-child {
    padding: 1rem;

}

article.white {
    display: block;
    z-index: 2;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;

}

article.black {
    display: block;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;

}

img {
    display: block;
    width: 20rem;
    height: auto;

}

.pop-up {
    display: block;
    background-color: red;
}

.diveen {
    display: none;
    z-index: 0;
    height: 1rem;
    width: 100%;
    position: absolute;
    border: 1px solid black;
    background-color: aqua;

}

.divtwee {
    display: block;
    z-index: 2;
    top: 1rem;
    height: auto;
    position: absolute;
    background-color: #cef0fc;
    margin: -1rem;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);

}
