body {
    background: #f6f6f6;
}

div {
    display: block;
    color: #086788;
    background-color: #ffffff;
    width: 350px;
    height: auto;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
}


h1 {

    font-size: 2rem;
    text-align: left;
    font-family: helvetica;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    font-family: helvetica;
}

p {
    font-size: 1rem;
    font-family: helvetica;
    color: #086788;
}

img {
    display: block;
    width: 20rem;
    height: auto;

}

button {
    cursor: pointer;
}

.meerinfo {
    background-color: #086788;
    border-radius: 4px;
    font-family: helvetica;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.5rem;
    width: 6rem;
    height: 2.5rem;

}

.close {
    border-color: darkgrey;
    border-radius: 4px;
    border-width: 0.2rem;
    font-family: helvetica;
    font-size: 1rem;
    color: #000000;
    padding: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.bloktwee {
    display: block;
    color: #ffffff;
    background-color: white;
    width: 350px;
    height: auto;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
    padding: 1rem;
    position: relative;
    top: -690px;
    visibility: hidden;
    opacity: 0;
    transition: opactiy 1s;
    background-color: lightgrey;


}

.bloktwee img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 50%;

}

.active {
    visibility: visible;
    opacity: 1;
}
