body {
    background: #f6f6f6;
}

div {
    display: block;
    color: #086788;
    background-color: #ffffff;
    width: 350px;
    height: auto;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
}


h1 {

    font-size: 2rem;
    text-align: left;
    font-family: helvetica;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    font-family: helvetica;
}

p {
    font-size: 1rem;
    font-family: helvetica;
    color: #086788;
}

.ptwo {
    font-size: 1rem;
    font-family: helvetica;
    color: #ffffff;
}

img {
    display: block;
    width: 20rem;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
}

button {
    cursor: pointer;
}

.meerinfo {
    background-color: #086788;
    border-radius: 4px;
    font-family: helvetica;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.5rem;
    width: 6rem;
    height: 2.5rem;

}

.meerinfohover {
    background-color: red;
    border-radius: 4px;
    font-family: helvetica;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.5rem;
    width: 6rem;
    height: 2.5rem;

}

.close {
    border-color: darkgrey;
    border-radius: 4px;
    border-width: 0.2rem;
    font-family: helvetica;
    font-size: 1rem;
    color: #000000;
    padding: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.bloktwee {
    display: block;
    color: #ffffff;
    width: 350px;
    height: auto;
    box-shadow: 0 0.2rem 0.2rem rgba(182, 182, 182, 0.75);
    padding: 1rem;
    position: relative;
    top: -690px;
    visibility: hidden;
    opacity: 0;
    transition: opactiy 1s;
    background: linear-gradient(to bottom, #0099ff 0%, #ccffff 100%);
    animation-duration: 2s;
    animation-name: bounceIn;


}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bloktwee img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 50%;

}

.active {
    visibility: visible;
    opacity: 1;

}
